<template>
    <ion-page>
        <ion-header class="ion-no-border">
            <ion-toolbar color="tertiary">
                <ion-title class="gtsuper">Survey <span>App</span></ion-title>
                <ion-buttons slot="end">
                    <ion-button>
                        {{ getAnswered }}
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content color="tertiary" class="ion-padding" :fullscreen="true">
            <ion-card v-for="(item, index) of quiz" :key="index" class="ask">
                <ion-label>
                    <p>Pertanyaan - {{ index + 1 }}</p>
                    <h2 class="gtsuper">{{ item.question }}</h2>
                </ion-label>
                <ion-radio-group>
                    <ion-item lines="none" v-for="(quest, index) of getQuest(item)" :key="index">
                        <ion-radio @click="answer(item.id, quest)" color="success" mode="ios" slot="start"></ion-radio>
                        <ion-label>{{ quest }}</ion-label>
                    </ion-item>
                </ion-radio-group>
            </ion-card>
            <div class="submit">
                <ion-button @click="$router.back()" mode="ios" color="secondary" class="button-app">
                    <ion-icon :icon="arrowBack"></ion-icon>
                    <span class="ion-margin-start">Kembali</span>
                </ion-button>
            </div>
        </ion-content>
    </ion-page>
</template>
<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonCard, IonItem, iosTransitionAnimation } from '@ionic/vue';
import { triviaSample } from './sample';
import { logOut, arrowBack } from 'ionicons/icons';
import { helper } from '@/common/helper/helper'

export default defineComponent({
    name: 'TriviaQuiz',
    components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonCard, IonItem },
    data() {
        return {
            answered: []
        }
    },
    setup() {
        return {
            logOut, arrowBack,
            quiz: triviaSample
        }
    },
    methods: {
        answer(id: any, answer: any) {
            const findQuest: any = [this.quiz.find(x => x.id === id)];
            const result: any = findQuest.some((y: any) => y.correctAnswer === answer)
            helper.presentToast({ header: result ? 'Benar!' : 'Salah!', msg: result ? 'Yeay kamu sudah benar!' : 'Yahhh, kamu salah deh!' }, { color: result ? 'success' : 'danger', error: !result })
            this.answered.push(id)
            // return result;
            // console.log(result);
        },
        getQuest(item: any) {
            let quest = [...item.incorrectAnswers];
            quest.push(item.correctAnswer)
            return quest;
        }
    },
    computed: {
        getAnswered() {
            return this.answered.length + '/' + this.quiz.length
        }
    },
});
</script>
  
<style lang="scss" scoped>
.submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-title {
    span {
        color: var(--ion-color-secondary);
    }
}

ion-button {
    font-weight: bold;
}

.ask {
    margin-bottom: 2.5em;
    box-shadow: none;
    padding: 1.5em;
    background: var(--ion-color-primary);


    ion-radio::part(container) {
        // background: rgb(255 255 255 / 37%);
        border-radius: 50%;
        border: 1px solid rgb(255 255 255 / 37%);
        height: 30px;
        width: 30px;
    }

    ion-item {
        --padding-start: 0
    }

    p {
        color: var(--ion-color-secondary);
    }

    h2 {
        font-size: 1.5em;
        color: var(--ion-color-light);
    }
}
</style>