/* // Font Sans Pro */
/* // Regular/Normal */
@font-face {
    font-family: "sanspro";
    font-style: normal;
    font-weight: normal;
    src: url("source-sans-pro-v21-latin-300.woff2");
}

/* // Light */
@font-face {
    font-family: "sanspro";
    font-style: normal;
    font-weight: 300;
    src: url("source-sans-pro-v21-latin-300.woff2");
}

/* // Medium/Semibold */
@font-face {
    font-family: "sanspro";
    font-style: normal;
    font-weight: 200;
    src: url("source-sans-pro-v21-latin-200.woff2");
}

/* // Bold */
@font-face {
    font-family: "sanspro";
    font-style: normal;
    font-weight: 800;
    src: url("source-sans-pro-v21-latin-600.woff2");
}

/* // Black */
@font-face {
    font-family: "sanspro";
    font-style: normal;
    font-weight: 900;
    src: url("source-sans-pro-v21-latin-900.woff2");
}