.button-app {
    --padding-start: 2em;
    --padding-end: 2em;
    --border-radius: 10vw;
}

.gtsuper {
    font-family: 'gtsuper';
}

.sub-avatar {
    font-family: 'gtsuper';
    background: var(--ion-color-tertiary);
    color: var(--ion-color-light);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}