<template>
  <ion-page>
    <ion-header class="ion-no-border">
      <ion-toolbar color="tertiary">
        <ion-title class="gtsuper ion-text-center">Survey <span>App</span></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="tertiary" class="ion-padding" :fullscreen="true">
      <div class="start">
        <ion-img :src="require('@/assets/icons/japfa.png')" />
        <h3 class="gtsuper">Start</h3>
        <h2 class="gtsuper">Survey</h2>
        <p>Aplikasi ini digunakan untuk sarana pembelajaran IONIC menggunakan Vue 3</p>
        <router-link to="/trivia">
          <ion-button mode="ios" class="button-app" color="secondary">
            Mulai
          </ion-button>
        </router-link>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent } from '@ionic/vue';

export default defineComponent({
  name: 'Tab1Page',
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage }
});
</script>

<style lang="scss" scoped>
ion-title {
  span {
    color: var(--ion-color-secondary);
  }
}

ion-img {
  width: 18vw;
  margin-bottom: 4em;
}

.start {
  margin-block: 10vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: var(--ion-color-primary);
  align-items: center;
  color: #fff;
  height: 60vh;
  justify-content: center;
  border-radius: 50vw;
  border: 2px solid var(--ion-color-secondary);


  h2,
  h3 {
    margin: 0;
  }

  h2 {
    font-size: 50pt;
  }

  h3 {
    font-size: 20pt;
    margin-bottom: -20px;
  }

  p {
    text-align: center;
    width: 70vw;
  }

  ion-button {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1pt;
    margin-top: 2em;
  }
}
</style>