<template>
  <ion-page>
    <ion-header class="ion-no-border">
      <ion-toolbar color="tertiary">
        <ion-title class="gtsuper ion-text-center" color="secondary">Daftar Survey</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true" class="ion-padding-vertical">
      <ion-list>
        <ion-item v-for="(item, index) of list" :key="index">
          <ion-avatar slot="start" class="sub-avatar">
            {{ index + 1 }}
          </ion-avatar>
          <ion-label>
            <h2>{{ item.name }}</h2>
            <p>{{ item.answer }} Jawaban yang benar</p>
          </ion-label>
          <ion-icon slot="end" :icon="checkmarkCircle" v-bind:color="item.status ? 'success' : 'danger'" />
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonItem, IonList, IonIcon } from '@ionic/vue';
import { checkmarkCircle } from 'ionicons/icons';
export default defineComponent({
  name: 'Tab2Page',
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonItem, IonList, IonIcon },
  setup() {
    return {
      checkmarkCircle,

      list: [{
        name: "Survey Bestmeat",
        answer: 10,
        status: false
      },
      {
        name: "Survey Japfa Best",
        answer: 9,
        status: true

      },
      {
        name: "Survey BFC",
        answer: 11,
        status: true

      },
      {
        name: "Survey Kebersihan",
        answer: 9,
        status: false

      },
      {
        name: "Survey Pegawai",
        answer: 18,
        status: true

      },
      ]
    }
  }
});
</script>
