<template>
  <ion-page>
    <ion-header class="ion-no-border">
      <ion-toolbar color="tertiary">
        <ion-title class="gtsuper ion-text-center" color="secondary">Pengaturan</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Keluar</h2>
            <p>Logout dari aplikasi.</p>
          </ion-label>
          <ion-icon slot="start" :icon="power" />
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonItem, IonList, IonIcon, IonLabel } from '@ionic/vue';
import { power } from 'ionicons/icons';

export default defineComponent({
  name: 'Tab3Page',
  components: { IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonItem, IonList, IonIcon, IonLabel },
  setup() {
    return {
      power
    }
  }
});
</script>
